<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cse225_lecture_codes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSE225_Lecture_Codes">
        <activity
            android:name=".RatingBarExampleAverage"

            android:exported="false" />
        <activity
            android:name=".RatingBarExample"
            android:exported="false" />
        <activity
            android:name=".SplashScreenExample"
            android:exported="false" />
        <activity
            android:name=".SplashScreenExampleMain"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ToolBarExample"
            android:theme="@style/Theme.CSE225_Lecture_Codes.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>